*.iml

# Directory-based project format
.idea/

## File-based project format:
*.ipr
*.iws


## Plugin specific files:
# IntelliJ
out/
.idea_modules/

# python byte-code
*.pyc

__pycache__/

# sqlite
*.sqlite
*.sqlite3

# static files
.env